/* Button */

.wrapper {
  width: 200px;
  height: 45px;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: blueviolet;
  border: 2px solid blueviolet;
}

.wrapper:hover {
  color: blueviolet;
  background: transparent;
}

.disabled,
.disabled:hover {
  cursor: default;
  color: #fff;
  background: grey;
  border: 2px solid grey;
}
