/* Register */

.wrapper {
  max-width: 350px;
  margin: 55px 0px;
}

.title {
  margin: 15px 0px;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: blueviolet;
}

.form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
  width: 350px;
}

.email-input,
.password-input,
.confirmPass-input {
  position: relative;
}

.login-btn,
.register-btn {
  margin: 15px auto;
}

.login-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: blueviolet;
  border: 2px solid blueviolet;
}

.login-btn:hover {
  background: transparent;
  color: blueviolet;
  border: 2px solid blueviolet;
}
