/* Header */

.wrapper {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 900px) 1fr;
  background-color: blueviolet;
}

.menu {
  display: grid;
  grid-column: 2 / 3;
  grid-auto-flow: column;
  column-gap: 35px;
  align-items: center;
  justify-content: end;
}

.link,
.link-active {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.link-active {
  cursor: default;
  color: rgb(188, 180, 193);
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: rgb(188, 180, 193);
}
