/* Post list */

.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 35px;
}

.list {
  display: grid;
  row-gap: 15px;
}

.title {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: blueviolet;
}
