/* App */

.wrapper {
  position: relative;
  display: grid;
  grid-template: minmax(auto, 70px) 1fr minmax(auto, 100px) / 1fr;
  min-height: 100vh;
  background-color: #e1e1e1;
}

.header {
  grid-row: 1 / 2;
}

.main {
  display: grid;
  grid-row: 2 / 3;
  grid-template: 1fr / 1fr minmax(auto, 900px) 1fr;
}

.content {
  display: grid;
  grid-column: 2 / 3;
  justify-content: center;
}

.aside-left {
  display: grid;
  grid-column: 1 / 2;
  background-color: #a7a7a7;
}

.aside-right {
  display: grid;
  grid-column: 3 / 3;
  background-color: #a7a7a7;
}

.footer {
  display: grid;
  grid-row: 3 / 3;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
