/* Transition group */

.post-enter {
  /* opacity: 0;
  transform: translateX(-500px); */
}
.post-enter-active {
  /* opacity: 1;
  transition: all 400ms ease-in-out;
  transform: translateX(0px); */
}
.post-exit {
  opacity: 1;
  transform: translateX(0px);
}
.post-exit-active {
  opacity: 0;
  transition: all 400ms ease-in-out;
  transform: translateX(-500px);
}

.postsTitle-enter {
  opacity: 0;
}
.postsTitle-enter-active {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.postsTitle-exit {
  opacity: 1;
}
.postsTitle-exit-active {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.valid-message-enter {
  opacity: 0;
}
.valid-message-enter-active {
  opacity: 1;
}
.valid-message-exit {
  opacity: 1;
}
.valid-message-exit-active {
  opacity: 0;
}
